@media only screen and (min-width: 960px){
    .sjsu-newsletter-table-container{
        width:960px;
    }
}
/*midsizes*/
@media only screen and (max-width: 960px){
    .sjsu-newsletter-table-container{
        width:600px;
    }
    .sjsu-announcements-banner p,
    .sjsu-in-the-news-banner p,
    .sjsu-upcoming-events-banner p,
    .sjsu-online-programming-banner p{
        padding:7px 0 !important;
        font-size: 20px !important;
    }
    .paragraphStyle,
    .paragraphStyle a,
    .paragraphNewsStyle{
        font-size: 14px !important;
    }
    .sjsu-mentor-signup-button-table{
        margin-top: 45px !important;
    }
    .sjsu-naacp-congrats-article{
        margin-top:0 !important;
    }
    .sjsu-upcoming-event-table{
        height:300px;
    }
    .sjsu-upcoming-events-heading{
        font-size:16px !important;
    }
    .sjsu-online-programming-table-container h3{
        font-size:20px !important;
    }
    .sjsu-graceful-change-text{
        margin-top: 10px !important;
    }
    .sjsu-working-mothers-text{
        margin-top:57px !important;
    }

}
/*mobile*/
@media only screen and (max-width: 599px){
    .sjsu-newsletter-table-container{
        width:100%;
    }
    .sjsu-mentor-sign-up-left-column{
        width:100%;
    }
    .sjsu-mentor-sign-up-right-column{
        width:100%;
        margin-top: 80px;
    }
    .sjsu-upcoming-event-table{
        height:550px;
    }
    .sjsu-google-interview-article-image-table{
        width:100%;
        height:auto;
    }
    .sjsu-google-interview-article-image-table img{
        margin:0 !important;
    }
    .sjsu-google-interview-article-text-table{
        width:100%;
    }
    .sjsu-casino-night-text-table{
        width:100%;
        margin-top:-100px;
    }
    .sjsu-casino-night-image-table{
        text-align: center;
        height:auto;
        width:100%;
    }
    .sjsu-casino-night-button-table a{
        font-size:9px;
    }
    .sjsu-money-zen-book-table{
        width:100%;
    }
    .sjsu-grace-crisis-book-table{
        width:100%;
    }
    .sjsu-microstress-book-table{
        width:100%;
    }
    .sjsu-power-mom-book-table{
        width:100%;
        margin:50px 0;
    }
    .sjsu-working-mothers-text{
        margin:30px 0 !important;
    }
    .sjsu-power-moms-button-table{
        margin:0px !important;
    }
    .sjsu-alumni-membership-button-table a{
        font-size:10px;
    }
    .sjsu-contact-update-button-table{
        font-size:12px;
    }
}
