body{
    background-color: #F0F0F0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{ 
    list-style: none !important;
}
a{
    text-decoration: none;
    color: rgb(56, 56, 56);
}
.home-page{
    font-family: 'Ubuntu', sans-serif;
}
.intro-section{
    margin:0;
    height:300px;
    color:#f0f0f0;
    background-color: rgb(56, 56, 56);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skills-section{
    width:100%;
    height:250px;
    margin-top: 20px;
    display:flex;
    justify-content: space-around;
}
.skills-section li{
    margin-bottom:10px;
}
.navbar-list a:hover,
.project-list a:hover{
    text-shadow: 0 0 5px rgb(0, 255, 13);
    color: rgba(0, 0, 0, 0.322);
}
.project-list{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-list ul{
    margin:0;
    padding: 10px 0 20px 0;
    height: auto;
    width: 80vw;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px 0;
}
.project-list-individual-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap:nowrap;
    flex-flow: column;
    align-items: center;
}
.project-list-individual-container img:hover{
    filter:drop-shadow(0 0 5px rgb(71, 71, 71)) opacity(0.6);
}
.project-list-individual-container p{
    font-weight:500;
}
.project-list h1{
    margin:0;
    padding:20px 0;
    width:100%;
    text-align: center;
    background-color: rgb(255, 244, 230);
}
.email-preview{
    width: 250px;
}
@media only screen and (max-width: 700px){
   .project-list ul{
    grid-template-columns: 1fr;
   }
}