:root{
    --background-color: #918450;
    --secondary-background-color: #A41623;
    --list-color: black;
    --footer-color: #FFB563;
    --text-color: white;
    --box-color: #FFB563;
    --project-carousel: #FFD29D;
}
/*#FFF6DC #C4C1A4 */
body{
    background-color: var(--background-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{ 
    list-style: none !important;
}
a{
    text-decoration: none;
    color: var(--link-color);
}
.home-page{
    width: 100% !important;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}
.intro-section{
    margin: 0;
    height: 400px;
    width: 100%;
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro-section h2{
    font-weight: 400;
}
.intro-section h1,
.intro-section h2,
.nav-side-bar h3{
    color: var(--box-color);
    text-shadow: 0 3px 3px black, 3px 0 3px black;
}
.skills-section{
    width: 100%;
    margin: 100px 0;
    display: flex;
    justify-content: space-around;
}
.one-column-skills-section{
    padding: 0 70px;
    color: var(--list-color);
    background-color: var(--box-color);
    height: 430px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.144);
}
.one-column-skills-section ul{
    width:100%;
}
.one-column-skills-section li{
    margin: 0;
    margin-bottom:15px;
}
.photoshop-icon{
    width: 35px; 
    margin-left: -10px;
}
.project-list{
    width: 100%;
}
.project-list h1{
    margin: 0 0 100px;
    padding: 20px 0;
    width: 100%;
    height: 20vh;
    text-align: center;
    background-color: var(--secondary-background-color);
    color: var(--box-color);
    text-shadow: 0 2px 2px black, 2px 0 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.navbar-list a:hover,
.project-list a:hover{
    text-shadow: 0 0 2px black;
    color: var(--secondary-background-color);
}
.github-links-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.github-links-container{
    border: 2px solid black;
    box-shadow: 0 5px 3px black;
    border-radius: 8px;
    background-color: var(--project-carousel);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.github-links-container li {
    margin-bottom: 20px ;
}
.github-links-container li:hover {
    color: var(--secondary-background-color);
}
#homepage-footer{
    height: 250px;
    font-size: 12px;
    background-color: var(--secondary-background-color);
    color: var(--footer-color);
    display: flex; 
    justify-content: space-around;
    align-items: center;
}
.linkedin-logo,
.github-logo{
    color:var(--footer-color);
    display: inline-block;
    margin-left: 10px;
}
.linkedin-logo:hover,
.github-logo:hover{
    color: white;
}
.linkedin-logo i,
.github-logo i{
    margin-right: 5px;
}
.vite-logo-footer{
    width: 14px;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 1260px){
    .intro-section h2{
    -webkit-text-stroke-width: 0px;
    color: var((--box-color));
    text-shadow: 0 3px 3px black, 3px 0 3px black;
    }
    .one-column-skills-section{
        padding: 0 10px;
    }
    .one-column-skills-section h2{
        font-size: 28px !important;
        text-align: center;
        padding: 0 20px;
    }
}

@media only screen and (min-width:700px) and (max-width: 1100px){
    
    .intro-section h1{
        font-size: 45px;
        width: 80%;
        text-align: center;
    }
    .intro-section h2{
        font-size: 25px;
    }
    .skills-section{
        width: 100%;
        margin: 30px 0;
        height: 1000px;
        flex-direction: column;
        align-items: center;
    }
    .one-column-skills-section{
        width: 400px;
        margin: 20px 0;
    }
    .skills-section h2{
        font-size: 35px !important;
   }
    }
@media only screen and (max-width: 700px){
    .intro-section{
        height: 400px !important;
        width: 100%;
    }
    .intro-section h1{
        font-size: 35px;
        width: 80%;
    }
    .intro-section h2{
        font-size: 20px;
        width: 75%;
    }
   .skills-section{
        width: 100%;
        margin: 0;
        height: 1000px;
        flex-direction: column;
        align-items: center;
    }
    .one-column-skills-section{
        width: 99%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }
   .skills-section h2{
        width: 50%;
        font-size: 24px !important;
        text-align: center;
   }
   .skills-section ul{
        padding: 0;
        width: 100%;
        font-size: 24px !important;
        align-self: self-start !important;
   }
   .skills-section li{
        list-style: circle !important;
        display: block;
        margin-left: 25px;

   }
   .github-links-container{
        width: 90%;
    }
    .github-links-container li {
        font-size: 1.2rem;
    }
   #homepage-footer{
        flex-direction: column;
   }
}