.kaiba-corp-body div,
.kaiba-corp-body a,
.kaiba-corp-body img,
.kaiba-corp-body nav,
.kaiba-corp-body ul,
.kaiba-corp-body li{
    margin:0;
    padding:0;
    font-family: 'Play', sans-serif;
}
.kaiba-nav-container1,
.kaiba-nav-links,
.kaiba-social-links{
    display:flex;
}
.kaiba-nav-container1 a{
    color:#fad231;
}
.kaiba-nav-container1 a:hover{
    color: blue;
}
.kaiba-corp-body .kaiba-nav-container1{
    justify-content: space-between;
    align-items: center;
    background-color:rgba(56, 113, 199, 0.726);
    backdrop-filter: blur(50px);
}
.kaiba-corp-body .kaiba-nav-links{
    width:250px;
    justify-content: space-between;
}
.kaiba-corp-body .kaiba-social-links{
    width:150px;
    padding-right:20px;
    justify-content: space-between;
}
.exodia-image{
    height:100vh;
    width:100%;
    position:absolute;
    margin:0;
    padding:0;
    background-image: url("/kaiba-corp-landing-images/exodia-background.png" );
    background-size: 120%; 
    background-position: bottom;
    background-repeat: no-repeat;
    z-index:-10;
}
.kaiba-welcome-message-container{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.kaiba-welcome-message{
    width:80%;
    text-align: center;
    color:white;
    box-shadow: inset 0 0 5px white;
    background-color:rgba(89, 0, 255, 0.35);
}
.kaiba-welcome-message h1{
    font-size:100px;
    margin:0;
}
.kaiba-welcome-message h2{
    font-weight:500;
    margin-bottom:20px;
    font-size:75px;
    text-transform: uppercase;
}
.kaiba-welcome-message h3{
    text-transform: uppercase;
    font-weight: 600;
    font-size:50px;
}
.kaiba-intro-section{
    padding:0;
    margin:0;
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    
    position:relative;
    background-image: url("/kaiba-corp-landing-images/blue-eyes-background.jpg" );
    background-position: center;
    background-size:100% 120%;
    background-repeat: no-repeat;
    filter: saturate(0.6);
}
.kaiba-self-portrait{
    padding:0;
    margin:0;
    width:500px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.kaiba-email-form{
    
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:500px;
    height:500px;
    box-shadow: 0 0 20px black;
    background-color:rgba(10,21,51, 0.5);
    box-shadow:inset 0 0 5px white;
}
.kaiba-fullname{
    text-transform: uppercase;
}
.kaiba-email-form-button:hover{
    background-color: #fad231;
    box-shadow: 0 0 5px black;
    color: rgba(255, 255, 255, 0.61);
}
footer{
    display:flex;
    justify-content: space-between;
    font-size:12px;
    background: rgba(56, 113, 199, 0.726);
    padding:20px;
}
