.navbar{
    margin:0;
    display:flex !important;
    justify-content: flex-start !important;
    align-items:center;
    height:80px;
    width:100% !important;
    font-family: 'Ubuntu', sans-serif !important;
    font-size:20px;
}
ul.navbar-list{
    margin:0;
    height:100%;
    background-color: rgb(255, 244, 230);
    width: 100% !important;
    display:flex !important;
    justify-content: space-around !important;
    align-items: center !important;
}
.arrow-icon{
    padding: 0 20px !important;
}
@media only screen and (max-width:960px){
    ul.navbar-list{
        justify-content: center;
    }
    #navbar-project-page{
        margin-right:50px;
    }
    #navbar-home-about{
        margin-right:40px;
    }
}