.navbar{
    margin:0;
    display:flex !important;
    justify-content: flex-start !important;
    align-items:center;
    height:80px;
    width:100% !important;
    font-family: 'Ubuntu', sans-serif !important;
    font-size:20px;
}
ul.navbar-list{
    margin:0;
    height:100%;
    background-color: var(--secondary-background-color);
    width: 100% !important;
    display:flex !important;
    justify-content: space-around !important;
    align-items: center !important;
}
#navbar-home-blog,
#navbar-home-about{
    color: var(--footer-color)
}
.arrow-icon{
    padding: 0 20px !important;
}
.law-designs-logo{
    height: 400px;
}
@media only screen and (max-width:960px){
    ul.navbar-list{
        justify-content: center;

    }
    .logo-container{
        display:flex;
        justify-content: center;
        align-items:center;
        width:100%;
        height:80%;
    }
    .law-designs-logo{
        position:absolute;
        height: 200px;
        width:200px;
    }
    #navbar-project-page{
        margin-right:50px;
    }
    #navbar-home-about{
        margin-right:40px;
    }
}