.navbar{
    display:flex;
    justify-content: flex-start;
    border-bottom: 2px solid black;
    width:100vw;
}
.navbar-list{
    width: 70vw;
    display:flex;
    justify-content: space-between;
}
.arrow-icon{
    padding-right:10px;
}