
.project-carousel-container{
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-carousel-selections{
    padding: 10px 20px;
    border: 2px solid black;
    box-shadow: 0 5px 3px black;
    border-radius: 8px;
    background-color: var(--project-carousel);
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.project-selection{
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: var(--box-color);
    cursor: pointer;
}
.project-selection:hover{
    box-shadow: 0 5px 3px black;
    background-color: #e4e4e4;
}
.selected{
    color: var(--project-carousel);
    box-shadow: 0 4px 3px black;
    text-shadow: 0 5px 5px black;
    background-color: var(--secondary-background-color) !important;
    padding: 10px 20px;
    border-radius: 50px;
}
.project-list{
    width: 100%;
}
.list{
    min-height: 20vh;
    width: 80%;
    border: 2px solid black;
    box-shadow: 0 10px 10px black;
    border-radius: 8px;
    margin: 50px 0;
    background-color: var(--box-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.project-list ul{
    margin: 50px 0;
    padding: 10px 0 20px 0;
    min-height: 80vh;
    width: 98%;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
}
.project-list-individual-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap:nowrap;
    flex-flow: column;
    align-items: center;
    text-align: center
}

.project-list-individual-container img:hover{
    filter:drop-shadow(0 0 5px rgb(0, 255, 0)) opacity(0.6) grayscale(50%);
}
.project-list-individual-container p{
    font-weight: 500;
}
.email-project-link{
    width: min-content;
    height: min-content;
}
.proj-img-container{
    width: 400px;
    height: 220px;
    position: relative;
}

.proj-img-container img{
    width: 100%;
    height: 100%;
}

.email-proj-img-container{
    width: 400px;
    height: 400px;
    position: relative;
}

.email-proj-img-container img{
    width: 100%;
    height: 100%;
}
.project-desc-text{
    position: absolute;
    top: 18%;
    width: 100%;
    height: 80%;
    top: 0%;
    height: 100%;
    color:var(--list-color);
    background-color: rgba(255, 255, 255, 0.6);
    text-shadow: 0 0 0 ;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.desc-text{
    font-size: 1.2rem;
}

.project-desc-text span{
    font-weight: 500;
    width: 90%;
}

.trivia-desc{
    position: absolute;
}

.email-note{
    position: absolute;
    bottom: 10px;
    padding: 0 10px;
    font-size: 1.2rem;
}


@media only screen and (max-width: 1260px){
    .project-selection{
        font-size: 15px;
    }
    .project-carousel-selections{
        width: 70%;
    }
}
@media only screen and (max-width: 1600px){
    .proj-img-container{
        width: 250px;
        height: 150px;
    }
    .email-proj-img-container{
        width: 250px;
        height: 250px;
    }
    .project-list ul{
        grid-template-columns: 2fr 2fr;
        gap: 30px 50px;
    }
    .project-desc-text span{
        font-size: 15px;
    }
}
@media only screen and (max-width: 730px){
    .project-carousel-selections{
        width: 80%;
        height: min-content;
        position: relative;
        flex-direction: column;
        gap: 30px;
        padding: 30px 0;
    }
    .project-selection,
    .selected{
        padding: 15px 0;
        text-align: center;
        width: 90%;
    }
    .project-list-heading{
        font-size: 25px;
    }
    .project-list ul{
         grid-template-columns: 1fr;
    }
}